<div class=" vh-93 d-flex flex-column flex-shrink-0 p-3 bg-light col-2" th:fragment="painel-lateral" style="box-shadow: 1px 1px 2px black;">
    <ul class="nav nav-pills flex-column mb-auto well">
      <li class="nav-item">
        <a th:href="@{/painel/agenda/}" th:class="${nomePagina == 'Agenda' ? 'nav-link' : 'nav-link link-dark'}">
          Agenda
        </a>
      </li>
      <hr>
      <li>
        <a th:href="@{/painel/aniversariantes/}" th:class="${nomePagina == 'Aniversários' ? 'nav-link' : 'nav-link link-dark'}">
          Aniversários
        </a>
      </li>
      <hr>
      <li class="nav-item">
        <a th:href="@{/painel/eventos/}" th:class="${nomePagina == 'Eventos' ? 'nav-link' : 'nav-link link-dark'}">
          Eventos
        </a>
      </li>
      <hr>
      <li>
        <a th:href="@{/painel/links/}" th:class="${nomePagina == 'Links dos cultos' ? 'nav-link' : 'nav-link link-dark'}">
          Links dos Cultos
        </a>
      </li>
      <hr>
      <li>
        <a th:href="@{/painel/pagamentos}" th:class="${nomePagina == 'Pagamentos' ? 'nav-link' : 'nav-link link-dark'}">
          Pagamentos
        </a>
      </li>
      <div>
        <hr>
        <li>
          <a th:href="@{/painel/contatos}" th:class="${nomePagina == 'Contatos' ? 'nav-link' : 'nav-link link-dark'}">
            Contatos
          </a>
        </li>
      </div>
      <div sec:authorize="hasAuthority('ADMIN')">
        <hr>
        <li>
          <a th:href="@{/painel/membros}" th:class="${nomePagina == 'Membros' ? 'nav-link' : 'nav-link link-dark'}">
            Membros
          </a>
        </li>
      </div>
      <div sec:authorize="hasAuthority('ADMIN')">
        <hr>
        <li>
          <a th:href="@{/painel/comprovantes}" th:class="${nomePagina == 'Comprovantes' ? 'nav-link' : 'nav-link link-dark'}">
            Comprovantes
          </a>
        </li>
      </div>
    </ul>
  </div>