*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: sans-serif;
    }
    body{
        background: linear-gradient(175deg, #2c4278, rgb(193, 220, 255)  );
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
    .form{
        background:#fff;
        width: 50%;
        height: 70%;
        margin:auto;
        margin-top: 0px;
        text-align: center;
        border-radius: 10px;
        margin-top: 50px;
    }

    h2{
        background: rgb(158, 187, 196);
        height: 31px;
    }
    input,select{
        border-radius: 10px;
        height: 30px;
        border: none;
        background:rgb(190, 190, 190);
    }

    input[type="submit"]{
        background:rgb(190, 190, 190);
        cursor: pointer;
        border-radius: 5px;
        border: none;
        width: 80px;
        height: 35px;
    }
    input[type="button"]{
        background:rgb(190, 190, 190);
        cursor: pointer;
        border-radius: 5px;
        border: none;
        width: 80px;
        height: 35px;
    }
    input[type="submit"]:hover{
        background: rgb(0, 121, 161);
        color: #fff;
    }
    input[type="button"]:hover{
        background: rgb(0, 121, 161);
        color: #fff;
    }
    input[type="text"]{

        box-sizing: border-box;
        padding-left: 8px;
        border: unset;
        outline: none;
        background-color: rgb(228, 228, 228);
    }
    input[type="date"]{
        box-sizing: border-box;
        padding-left: 8px;
        border: unset;
        outline: none;
        background-color: rgb(228, 228, 228);
    }
    input[type="file"]{
        box-sizing: border-box;
        padding-left: 8px;
        border: unset;
        outline: none;
        background-color: rgb(228, 228, 228);
    }
    input[type="password"]{
        box-sizing: border-box;
        padding-left: 8px;
        border: unset;
        outline: none;
        background-color: rgb(228, 228, 228);
    }

    #email{
        box-sizing: border-box;
        padding-left: 8px;
        border: unset;
        outline: none;
        background-color: rgb(228, 228, 228);
    }

    #foto{
        display: none;
    }

    #labelFoto{
        background:rgb(190, 190, 190);
        cursor: pointer;
        border-radius: 5px;
        border: none;
        width: 80px;
        height: 35px;
        margin: 0px;
        padding: 10px;
    }
    #labelFoto:hover{
        background: rgb(0, 121, 161);
        color: #fff;
    }