#calendar {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  width: 100%;
  max-width: 450px;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  font-family: 'Nunito', arial !important;
}

#calendarForm {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: absolute;
  left: calc(50% - 420px);
  margin-left: -30px;
  background-color: #15161b;
}

.header {
  height: 50px;
  width: 100%;
  background: #20b9da;
  text-align: center;
  position: relative;
  z-index: 100;
  color: white;
}

.header h1 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 50px;
  font-weight: 100;
  letter-spacing: 1px;
}

.left,
.right {
  position: absolute;
  width: 0px;
  height: 0px;
  border-style: solid;
  top: 50%;
  margin-top: -7.5px;
  cursor: pointer;
}

.left {
  border-width: 7.5px 10px 7.5px 0;
  border-color: transparent white transparent transparent;
  left: 20px;
}

.right {
  border-width: 7.5px 0 7.5px 10px;
  border-color: transparent transparent transparent white;
  right: 20px;
}

.month {
  /*overflow: hidden;*/
  opacity: 0;
  /*margin-top: 30px;*/
}

.month.new {
  -webkit-animation: fadeIn 1s ease-out;
  opacity: 1;
}

.month.in.next {
  -webkit-animation: moveFromTopFadeMonth 0.4s ease-out;
  -moz-animation: moveFromTopFadeMonth 0.4s ease-out;
  animation: moveFromTopFadeMonth 0.4s ease-out;
  opacity: 1;
}

.month.out.next {
  -webkit-animation: moveToTopFadeMonth 0.4s ease-in;
  -moz-animation: moveToTopFadeMonth 0.4s ease-in;
  animation: moveToTopFadeMonth 0.4s ease-in;
  opacity: 1;
}

.month.in.prev {
  -webkit-animation: moveFromBottomFadeMonth 0.4s ease-out;
  -moz-animation: moveFromBottomFadeMonth 0.4s ease-out;
  animation: moveFromBottomFadeMonth 0.4s ease-out;
  opacity: 1;
}

.month.out.prev {
  -webkit-animation: moveToBottomFadeMonth 0.4s ease-in;
  -moz-animation: moveToBottomFadeMonth 0.4s ease-in;
  animation: moveToBottomFadeMonth 0.4s ease-in;
  opacity: 1;
}

.week {
  /*background: ;*/
}

.day {
  display: inline-block;
  width: 14.28%;
  padding: 1vh 0px;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  background: white;
  position: relative;
  z-index: 1;
}

.day.other {
  color: rgba(14, 3, 3, 0.3);
}

.day.today {
  color: #20b9da;
}

.day-name {
  font-size: calc(7px + 0.15vw);
  text-transform: uppercase;
  margin: 5px;
  color: black;
  letter-spacing: 0.7px;
}

.day-number {
  letter-spacing: 1.5px;
  line-height: 150%;
  font-size: larger;
}

.day .day-events {
  list-style: none;
  margin-top: 3px;
  text-align: center;
  height: 12px;
  line-height: 6px;
  overflow: hidden;
}

.day .day-events span {
  vertical-align: top;
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 5px;
  height: 5px;
  line-height: 5px;
  margin: 0 1px;
  border-radius: 50%;
}

.blue {
  background: blue;
}

.orange {
  background: rgba(247, 167, 0, 1);
}

.green {
  background: rgba(153, 198, 109, 1);
}

.yellow {
  background: rgba(249, 228, 0, 1);
}

.purple {
  background-color: purple;
}

.red {
  background: rgba(255, 0, 0, 1);
}

.lime {
  background-color: lime;
}

.aqua {
  background-color: aqua;
}

.black {
  background-color: black;
}

.coral {
  background-color: coral;
}

.details {
  position: relative;
  width: 100%;
  height: 30vh;
  background: #d9f3f95c;
  border-radius: 15px;
  margin-top: 5px;
  /*-border-radius: 4px;-*/
}

.details.in {
  -webkit-animation: moveFromTopFade 0.5s ease both;
  -moz-animation: moveFromTopFade 0.5s ease both;
  animation: moveFromTopFade 0.5s ease both;
}

.details.out {
  -webkit-animation: moveToTopFade 0.45s ease both;
  -moz-animation: moveToTopFade 0.45s ease both;
  animation: moveToTopFade 0.45s ease both;
}

.arrow {
  position: absolute;
  top: -5px;
  left: 50%;
  margin-left: -2px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent rgb(80, 211, 212) transparent;
  transition: all 0.7s ease;
}

.details .events {
  height: 30vh;
  padding: 7px 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.details .events.in {
  -webkit-animation: fadeIn 0.3s ease both;
  -moz-animation: fadeIn 0.3s ease both;
  animation: fadeIn 0.3s ease both;
}

.details .events.in {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.details.out .events {
  -webkit-animation: fadeOutShrink 0.4s ease both;
  -moz-animation: fadeOutShink 0.4s ease both;
  animation: fadeOutShink 0.4s ease both;
}

.details .events.out {
  -webkit-animation: fadeOut 0.3s ease both;
  -moz-animation: fadeOut 0.3s ease both;
  animation: fadeOut 0.3s ease both;
}

.details .event {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  padding: 6px 16px;
  vertical-align: top;
  /*border-left: 8px solid #20b9da;*/
  border-radius: 10px;
  -moz-box-shadow: 5px 6px 9px 1px rgba(0, 0, 0, .08);
  -webkit-box-shadow: 5px 6px 9px 1px rgba(0, 0, 0, .08);
  box-shadow: 5px 6px 9px 1px rgba(0, 0, 0, .08);
  margin: 12px 15px;
  background-color: white;
}

.details .event.empty {
  color: ;
}

.details .event-category {
  height: 10px;
  width: 10px;
  display: inline-block;
  margin: 6px 0 0;
  vertical-align: top;
  border-radius: 50%;
}

.details .event span {
  display: inline-block;
  padding: 0 0 0 7px;
}

.details .event .time {
  font-size: 10px;
  display: block;
  color: #e7851f;
  border: 1px solid #fefefe;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  color: #fff;
  font-size: 9px;
  /* font-weight: 600; */
  width: 115px;
  /* margin-left: 16px;*/
  /* padding: 5px 2px; */
  text-align: center;
  float: right;
}

.details .event .date {
  font-size: 14px;
  color: #9faab7;
  display: inline-block;
}

.details .event .location {
  font-size: 11.5px;
  color: #19191a;
  max-width: calc(100% - 125px);
  padding-left: 15px;
}

.legend {
  /*position: absolute;*/
  top: 50px;
  width: 100%;
  /*height: 30px;*/
  background: #20b9da2b;
  line-height: 30px;
  overflow-y: auto;
}

.entry {
  position: relative;
  padding: 0 0 0 25px;
  font-size: 13px;
  display: inline-block;
  line-height: 30px;
  background: transparent;
}

.entry:after {
  position: absolute;
  content: "";
  height: 5px;
  width: 5px;
  top: 12px;
  left: 14px;
}

.entry.blue:after {
  background: blue;
}

.entry.orange:after {
  background: rgba(247, 167, 0, 1);
}

.entry.green:after {
  background: rgba(153, 198, 109, 1);
}

.entry.yellow:after {
  background: rgba(249, 233, 0, 1);
}

.entry.red:after {
  background: rgba(255, 0, 0, 1);
}

.entry.coral:after {
  background: coral;
}

.entry.purple:after {
  background: purple;
}

.entry.lime:after {
  background: lime;
}

.entry.black:after {
  background: black;
}

.entry.aqua:after {
  background: aqua;
}

/* Animations are cool!  */
@-webkit-keyframes moveFromTopFade {
  from {
    opacity: 0.3;
    height: 0px;
    margin-top: 0px;
    -webkit-transform: translateY(-100%);
  }
}

@-moz-keyframes moveFromTopFade {
  from {
    height: 0px;
    margin-top: 0px;
    -moz-transform: translateY(-100%);
  }
}

@keyframes moveFromTopFade {
  from {
    height: 0px;
    margin-top: 0px;
    transform: translateY(-100%);
  }
}

@-webkit-keyframes moveToTopFade {
  from {
    z-index: -1;
  }

  to {
    z-index: -1;
    height: 0px;
    opacity: 0.3;
    -webkit-transform: translateY(-100%);
  }
}

@-moz-keyframes moveToTopFade {
  from {
    z-index: -1;
  }

  to {
    z-index: -1;
    height: 0px;
    opacity: 0.3;
    -moz-transform: translateY(-100%);
  }
}

@keyframes moveToTopFade {
  from {
    z-index: -1;
  }

  to {
    z-index: -1;
    height: 0px;
    opacity: 0.3;
    transform: translateY(-100%);
  }
}

@-webkit-keyframes moveToTopFadeMonth {
  to {
    opacity: 0;
    -webkit-transform: translateY(-30%) scale(0.95);
  }
}

@-moz-keyframes moveToTopFadeMonth {
  to {
    opacity: 0;
    -moz-transform: translateY(-30%);
  }
}

@keyframes moveToTopFadeMonth {
  to {
    opacity: 0;
    -moz-transform: translateY(-30%);
  }
}

@-webkit-keyframes moveFromTopFadeMonth {
  from {
    opacity: 0;
    -webkit-transform: translateY(30%) scale(0.95);
  }
}

@-moz-keyframes moveFromTopFadeMonth {
  from {
    opacity: 0;
    -moz-transform: translateY(30%);
  }
}

@keyframes moveFromTopFadeMonth {
  from {
    opacity: 0;
    -moz-transform: translateY(30%);
  }
}

@-webkit-keyframes moveToBottomFadeMonth {
  to {
    opacity: 0;
    -webkit-transform: translateY(30%) scale(0.95);
  }
}

@-moz-keyframes moveToBottomFadeMonth {
  to {
    opacity: 0;
    -webkit-transform: translateY(30%);
  }
}

@keyframes moveToBottomFadeMonth {
  to {
    opacity: 0;
    -webkit-transform: translateY(30%);
  }
}

@-webkit-keyframes moveFromBottomFadeMonth {
  from {
    opacity: 0;
    -webkit-transform: translateY(-30%) scale(0.95);
  }
}

@-moz-keyframes moveFromBottomFadeMonth {
  from {
    opacity: 0;
    -webkit-transform: translateY(-30%);
  }
}

@keyframes moveFromBottomFadeMonth {
  from {
    opacity: 0;
    -webkit-transform: translateY(-30%);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOutShink {
  to {
    opacity: 0;
    padding: 0px;
    height: 0px;
  }
}

@-moz-keyframes fadeOutShink {
  to {
    opacity: 0;
    padding: 0px;
    height: 0px;
  }
}

@keyframes fadeOutShink {
  to {
    opacity: 0;
    padding: 0px;
    height: 0px;
  }
}

.hidden {
  display: none !important;
}

/* Only display day name on first row of calendar */
.week:nth-child(n+2) .day-name {
  display: none;
}

nav.side-menu{
  max-width: 321px;
}
nav.side-menu > ul > li{
  padding: 6px 0px;
  border-bottom: 1px solid rgba(42, 42, 42,0.4);
}
nav.side-menu > ul > li:last-child{
  border-bottom: none;
}
nav.side-menu > ul > li > a,
nav.side-menu > ul > li{
  font-size: 14px;
  font-family: "latobold";
  color: #2A2A2A;
}
nav.side-menu > ul > li:hover > a,
nav.side-menu > ul > li.active > a{
  color: #fff;
  background: #2980b9;
}
nav.side-menu > ul > li.active i.drop-icon{
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(-90deg) !important;
  display: inline-block;
}

nav.side-menu > ul > li > a{
  padding: 10px 10px;
  display: block;
}
nav.side-menu > ul > li .sub-menu{
  display: none;
}
nav.side-menu > ul > li .sub-menu li{
  padding: 6px 10px;
  line-height: 16px;
}
nav.side-menu > ul > li .sub-menu li:hover{
  background: #D0D2D3;
}
nav.side-menu > ul > li .sub-menu li a{
  font-size: 14px;
  font-family: "latoregular";
  color: #808184;
  display: block;
}
nav.side-menu > ul > li .sub-menu li:hover a{
  color: #2980B9;
}
nav.side-menu > ul > li i{
  font-size: 6px;
  margin-left: 5px;
}