*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: sans-serif;
    }
    body{
        background: linear-gradient(175deg, #2c4278, rgb(193, 220, 255)  );
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
    .form{
        background:#fff;
        width: 28%;
        height: 480px;
        margin:0 auto;
        text-align: center;
        border-radius: 30px;
        margin-top: 50px;
      
    }
 
    input,select{
        border-radius: 10px;
        height: 30px;
        border: none;
    }
    input[type="submit"]{
        cursor: pointer;
        border-radius: 5px;
        border: none;
        width: 260px;
        height: 35px;
    }
    input[type="submit"]:hover{
        background: rgb(0, 121, 161);
        color: #fff;
    }

    input[type="text"]{
        height: 35px;
        width: 60%;
        box-sizing: border-box;
        padding-left: 8px;
        border: unset;
        outline: none;
        background-color: rgb(228, 228, 228);
    }
#senha{
    height: 35px;
    width: 60%;
    box-sizing: border-box;
    padding-left: 8px;
    border: unset;
    outline: none;
    background-color: rgb(228, 228, 228);
}