<!DOCTYPE html>
<html lang="pt-br" xmlns:th="<http://www.thymeleaf.org>">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
  <title>Igreja Paraíso</title>
  <style>
    #links {
        /*background: #fff;*/
        width: 25%;
        height: max-content ;
        margin: 0 auto;
        text-align: center;
        border-radius: 30px;
        margin-top: 50px;
        box-shadow: 9px 8px 16px rgba(48, 46, 46, 0.671);
        overflow-y: auto;
    }
</style>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
        <div id="links">
          <br>
          <img src="../static/images/perfil.jpg" alt="" width="128" height="128" class="rounded-circle me-2">
          <h3>Thiago Marques</h3>
          <br>
          <p><i class="fa fa-envelope"></i> email@gmail.com</p>
          <p><i class="fa fa-phone"></i> 92999995763</p>
          <p><i class="fa fa-birthday-cake"></i> xx/xx/xxxx</p>
          <p><i class="fa fa-map-marker-alt"></i> Rua xxxx, xx.</p>
          <br>
          <input type="button" class="btn btn-danger" value="Apagar"> &nbsp;
          <input type="button" class="btn btn-warning" value="Editar">
          <br>
          <br>
        </div>
    </div>
</div>
</body>
<script src="../static/js/bootstrap.bundle.min.js"></script>

</html>