<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script th:src="@{/js/valida-cep.js}"></script>
    <script th:src="@{/js/verificar-campos.js}"></script>
    <script th:src="@{/js/smartcrop.js}"></script>
    <link rel="stylesheet" href="../../static/css/editarCli.css">
    <link rel="stylesheet" href="editarCli.css">
    <link rel="stylesheet" th:href="@{/css/editarCli.css}">
    <title th:text="${membro.id == null ? 'cadastrar':'editar'}"></title>></title>
</head>

<body>
    <div class="form">
        <form method="POST" th:object="${membro}" enctype="multipart/form-data">
            <input type="hidden" name="id" th:field="*{id}">
            <br>
            <h1 th:text="${membro.id == null ? 'Criar Conta':'Editar Conta'}"></h1><br>
            <h2>Dados Pessoais</h2><br>
            <label for="nome">Nome:</label>
            <input type="text" size="40" placeholder=" Nome Completo" th:field="*{nome}" id="nome">
            <label for="nmembro">Telefone:</label>
            <input type="text" size="20" placeholder=" Número de Membro" th:field="*{numero}" id="tel"><br><br>
            <label for="email">Email:</label>
            <input type="email" size="40" placeholder=" Endereço de Email" th:field="*{email}" id="email">
            <label for="senha">Senha:</label>
            <input type="password" placeholder=" No mínimo 8 caracteres" th:field="*{senha}" id="senha"> <br><br>
            <label for="data">Foto de Perfil:</label>
            <input type="file" name="file" accept=".jpg" id="foto"><br><br>
            <label for="data">Data de Nascimento:</label>
            <input type="date" name="data" id="data" th:field="*{dataNasc}"><br><br>

            <br>
            <h2>Endereço</h2><br>
            <label for="cep">CEP:</label>
            <input type="text" size="10" id="cep" onblur="pesquisacep(this.value);" placeholder=" 00000-000"
                th:field="*{cep}">
            <label for="uf">Estado:</label>
            <input type="text" id="uf" th:field="*{estado}">
            <label for="cidade">Cidade:</label>
            <input type="text" id="cidade" th:field="*{cidade}"><br><br>
            <label for="bairro">Bairro:</label>
            <input type="text" id="bairro" th:field="*{bairro}">
            <label for="rua">Rua:</label>
            <input type="text" id="rua" size="30" placeholder=" Logradouro" th:field="*{logradouro}"><br><br>
            <label for="num">N°:</label>
            <input type="text" size="5" placeholder=" Número" th:field="*{numeroEnd}" id="numero">
            <label for="comp" id="dif">Complemento:</label>
            <input type="text" size="20" placeholder=" Andar, Apartamento, Bloco" th:field="*{complemento}"><br><br><br>
            <input type="button" value="Voltar" onclick="window.history.back()"> &nbsp; &nbsp;
            <input onclick="return verificaCampos()" type="submit"
                th:value="${membro.id == null ? 'cadastrar' : 'editar'}"><br><br>
        </form>
    </div>
    <div th:utext="${emailrepetido}"></div>
</body>

</html>