<!DOCTYPE html>
<html lang="pt-br" xmlns:th="<http://www.thymeleaf.org>">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <title>Listagem de nomes</title>
</head>
<body>
  <div th:replace="~{fragments/_navbar :: nav-log}"></div>

  <main class="container">
    <h1>Listagem de membros</h1>
    <div class="row">
      <div class="col-sm-12">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">numero</th>
              <th scope="col">Data de Nascimento</th>
              <th scope="col">Email</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="membro : ${membros}">
              <td>
                <a th:text="${membro.nome}" th:href="@{/membros/{id} (id=${membro.id})}"></a>
              </td>
              <td th:text="${membro.numero}"></td>
              <td th:text="${#temporals.format(membro.dataNasc,'dd/MM/yyyy')}"></td>
              <!--<td th:text="${membro.dataNasc}"></td>-->
              <td th:text="${membro.email}"></td>
              <td>
                <a th:href="@{/membros/{id}/editar (id=${membro.id})}" class="btn btn-warning">Editar</a>
                <a th:href="@{/membros/{id}/excluir (id=${membro.id})}" class="btn btn-danger" onclick="return confirm('Tem certeza de que deseja excluí-lo?')">Excluir</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <a th:href="@{/membros/cadastrar}" class="btn btn-primary">Cadastrar novo membro</a>
      </div>
    </div>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>