<div class="d-flex flex-column flex-shrink-0 p-3 bg-light col-1" style="width: 280px;" th:fragment="painel-lateral">
    <ul class="nav nav-pills flex-column mb-auto">
      <hr>
      <li class="nav-item">
        <a th:href="@{/painel/eventos/}" th:class="${nomePagina == 'Eventos' ? 'nav-link' : 'nav-link link-dark'}">
          Eventos
        </a>
      </li>
      <hr>
      <li>
        <a href="#" class="nav-link link-dark">
          Pagamentos
        </a>
      </li>
      <hr>
      <li>
        <a th:href="@{/painel/links/}" th:class="${nomePagina == 'Links dos cultos' ? 'nav-link' : 'nav-link link-dark'}">
          Links dos Cultos
        </a>
      </li>
      <hr>
      <li>
        <a href="#" class="nav-link link-dark">
          Aniversários
        </a>
      </li>
      <hr>
      <li>
        <a href="#" class="nav-link link-dark">
          Células
        </a>
      </li>
    </ul>
  </div>