<!DOCTYPE html>
<html lang="pt-br" xmlns:th="<http://www.thymeleaf.org>">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <style>
    p.card-text {
      font-weight: bold;
    }

    p.card-text>span {
      font-weight: normal;
    }
  </style>
  <title>Listar evento</title>
</head>

<body>
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a href="#" class="navbar-brand">evento</a>
    </div>
  </nav>

  <main class="container">
    <h1>Detalhes do evento</h1>

    <div class="card">
      <div class="card-header" th:text="${evento.nome}">
      </div>
      <div class="card-body">
        <p class="card-text">Hora de Início: <span th:text="${evento.horaInicio}"></span></p>
        <p class="card-text">Hora de Fim: <span th:text="${evento.horaFim}"></span></p>
        <p class="card-text">Data: <span th:text="${#temporals.format(evento.data,'dd/MM/yyyy')}"></span></p>
        <p class="card-text">Descrição: <span th:text="${evento.descricao}"></span></p>
        <div sec:authorize="hasAuthority('ADMIN')">
          <a th:href="@{/eventos/{id}/editar (id=${evento.id})}" class="btn btn-warning">Editar</a>
          <a th:href="@{/eventos/{id}/excluir (id=${evento.id})}" class="btn btn-danger"
            onclick="return confirm('Tem certeza de que deseja excluí-lo?')">Excluir</a>
        </div>
      </div>
    </div>

  </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>
</body>

</html>