<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <title>Comprovantes</title>

    <style>
        #links {
            /*background: #fff;*/
            width: 37%;
            height: 530px;
            margin: 0 auto;
            text-align: center;
            /*border-radius: 30px;*/
            margin-top: 50px;
            box-shadow: 9px 8px 16px rgba(48, 46, 46, 0.671);
            overflow-y: auto;
            padding: 10px;
        }
    </style>
</head>

<body>
    <div th:replace="~{fragments/_navbar :: nav-painel}"></div>

    <div class="container-fluid">
        <div class="row">
            <div th:replace="~{fragments/_barraLateral :: painel-lateral}"></div>
            <div id="links">
                <form method="get">
                    <h6>Mês: <input type="month" id="mes" name="mes"> &nbsp; <input type="submit" class="btn btn-success" value="Pesquisar"></h6>
                </form>
                <table class="table" th:if="${comps != null}">
                    <thead>
                        <tr>
                            <th scope="col">Tipo</th>
                            <th scope="col">Data</th>
                            <th scope="col">Membro</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="comp : ${comps}">
                            <td>
                                <a th:text="${comp.tipo}" th:href="@{/painel/pagamentos/{id} (id=${comp.id})}" th:id="${comp.id}" target="_blank"></a>
                            </td>
                            <td th:text="${#temporals.format(comp.data,'dd/MM/yyyy')}"></td>
                            <td th:text="${comp.nomeMembro}"></td>
                        </tr>
                    </tbody>
                </table>
                <div th:unless="${comps != null}" class="align-self-center">
                    <h4 style="color: black; margin-top: 45%;">Não há comprovantes neste mês</h4>
                </div>
            </div>
    </div>
</body>
<script src="../../static/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script>
</script>

</html>