<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/eventos.css}">
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
  <title>Agenda</title>
</head>

<body style="margin:auto;">

  <div th:replace="~{fragments/_navbar :: nav-painel}"></div>

  <div class="divObjeto" th:data-objeto="${objetoJSON}"></div>

  <div class="container-fluid">
    <div class="row">
      <div th:replace="~{fragments/_barraLateral :: painel-lateral}"></div>
      <div style="overflow-y: auto;" class="col">

        <div class="row">
          <br>
          <div id="calendar" class="col-1"></div>

          <div class="col-2 align-self-center" sec:authorize="hasAuthority('ADMIN')">
              <button class="btn btn-warning" onclick="abrirModalCad()">Adicionar Evento</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modalFormEditar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="tituloModalForm"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="POST" th:object="${evento}" th:action="@{/eventos/cadastrar/}" id="formEditar">
          <div class="modal-body">
            <input type="hidden" id="idForm" th:field="*{id}">
            <p class="fw-bold">Nome: <input type="text" required id="temaForm" th:field="*{nome}"></p>
            <p class="fw-bold">Data: <input type="date" required id="dataForm" th:field="*{data}"></p>
            <p class="fw-bold">Hora de Início: <input type="time" required id="horaInicioForm" th:field="*{horaInicio}"></p>
            <p class="fw-bold">Hora de Fim: <input type="time" required id="horaFimForm" th:field="*{horaFim}"></p>
            <p class="fw-bold">Descrição: <textarea class="form-control" aria-label="With textarea" th:field="*{descricao}" id="descForm" required></textarea></p>
          </div>
          <div class="modal-footer" sec:authorize="hasAuthority('ADMIN')">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Salvar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id="ModalFormVisualizar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="tituloModalShow">Visua Evento</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p class="fw-bold">Data: <span style="font-weight: normal;" id="dataShow"></span></p>
          <p class="fw-bold">Hora de Início:<span style="font-weight: normal;" id="horaInShow"></span></p>
          <p class="fw-bold">Hora de Fim: <span style="font-weight: normal;" id="horaFimShow"></span></p>
          <p class="fw-bold">Descrição: <span style="font-weight: normal;" id="descShow"></span></p>
        </div>
        <div class="modal-footer" sec:authorize="hasAuthority('ADMIN')">
          <a href="" id="linkExcluir" class="btn btn-danger"
            onclick="return confirm('Tem certeza de que deseja excluí-lo?')">Apagar</a>
          <button type="button" class="btn btn-warning" onclick="abrirModalEditar()">Editar</button>
        </div>
      </div>
    </div>
  </div>
</body>
<script th:src="@{/js/moment.min.js}"></script>
<script src="../../static/js/moment.min.js"></script>
<script th:src="@{/js/eventCalendarWidget.min.js}"></script>
<script src="../../static/js/eventCalendarWidget.min.js"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script src="../../static/js/bootstrap.bundle.min.js"></script>
<script>
  //resgata a String do documento e à transforma em Objetos Javascript
  const $div = document.querySelector('.divObjeto')
  const stringJSONDoHTML = $div.dataset.objeto
  const objeto = JSON.parse(stringJSONDoHTML)

  //Transforma esses objetos em objetos que o calendário possa ler
  var dataUtil = []
  objeto.forEach(element => {
    var aux = { eventName: element.nome, eventFrom: `${element.data} ${element.horaInicio}:00`, eventTo: `${element.data} ${element.horaFim}:59`, href: `javascript:abrirModalView('${element.id}');`/*`[[@{/eventos/}]]${element.id}/`*/ }
    dataUtil.push(aux)
  });
  /*
    {
      [
      'eventName' : 'some name',
      'calendar' : 'some label',
      'color' : 'blue','orange','green','yellow','red','coral','purple','lime','black' OR 'aqua'
      'location' : 'any location',
      'eventFrom' : '2020-05-31 17:00:00',
      'eventTo' : '2020-05-31 21:30:00',
      'href' : 'some URL'
      ]
     }
  */

  let calendar = new Calendar("#calendar", dataUtil);

  var modalForm = new bootstrap.Modal(document.getElementById("modalFormEditar"), {
    keyboard: true,
    backdrop: 'static',
    focus: true
  })

  var modalvisualizar = new bootstrap.Modal(document.getElementById("ModalFormVisualizar"), {
    keyboard: true,
    backdrop: 'static',
    focus: true
  })
  
  var idAtual
  var nomeAtual
  var dataAtual
  var horaInicioAtual
  var horaFimAtual
  var descAtual

  function abrirModalCad() {
    document.getElementById("tituloModalForm").innerText = "Cadastrar Evento"
    document.getElementById("formEditar").action = "[[@{/eventos/cadastrar/}]]"
    document.getElementById("idForm").value = ""
    document.getElementById("temaForm").value = ""
    document.getElementById("dataForm").value = ""
    document.getElementById("horaInicioForm").value = ""
    document.getElementById("horaFimForm").value = ""
    document.getElementById("descForm").value = ""
    modalForm.show()
  }

  function abrirModalEditar(){
    modalvisualizar.hide()

    document.getElementById("tituloModalForm").innerText = "Editar Evento"
    document.getElementById("formEditar").action = `/eventos/${idAtual}/editar/`

    document.getElementById("idForm").value = idAtual
    document.getElementById("temaForm").value = nomeAtual
    document.getElementById("dataForm").value = dataAtual
    document.getElementById("horaInicioForm").value = horaInicioAtual
    document.getElementById("horaFimForm").value = horaFimAtual
    document.getElementById("descForm").value = descAtual

    modalForm.show()
  }

  function abrirModalView(id){

    objeto.forEach(element => {
      if(element.id == id){
        idAtual = element.id
        nomeAtual = element.nome
        dataAtual = element.data
        horaInicioAtual = element.horaInicio
        horaFimAtual = element.horaFim
        descAtual = element.descricao

        if("[[${membro.adm}]]" == "true"){
            document.getElementById("linkExcluir").href= `[[@{/eventos/}]]${idAtual}/excluir/`
        }

        document.getElementById("tituloModalShow").innerText = nomeAtual
        document.getElementById("dataShow").innerText = dataAtual
        document.getElementById("horaInShow").innerText = horaInicioAtual
        document.getElementById("horaFimShow").innerText = horaFimAtual
        document.getElementById("descShow").innerText = descAtual

        modalvisualizar.show()
      }
    });

  }

/*
            <input type="hidden" id="idForm" th:field="*{id}">
            <p class="fw-bold">Nome: <input type="text" required id="temaForm" th:field="*{nome}"></p>
            <p class="fw-bold">Data: <input type="date" required id="dataForm" th:field="*{data}"></p>
            <p class="fw-bold">Hora de Início: <input type="time" required id="dataForm" th:field="*{horaInicio}"></p>
            <p class="fw-bold">Hora de Fim: <input type="time" required id="dataForm" th:field="*{horaFim}"></p>
            <p class="fw-bold">Descrição: <textarea class="form-control" aria-label="With textarea" th:field="*{descricao}" id="descForm" required></textarea></p>
*/

</script>

</html>