<!DOCTYPE html>
<html lang="pt-br" xmlns:th="<http://www.thymeleaf.org>">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <title>Igreja Paraíso</title>
</head>

<body>
  <div class="row">
    <div class="col-md-4">
      <div class="well">1
        <br />
        <br />
        <br />
        <br />
        <br />
      </div>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-6">
          <div class="well">2</div>
        </div>
        <div class="col-md-6">
          <div class="well">3</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="well">4</div>
        </div>
        <div class="col-md-6">
          <div class="well">5</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="well">6</div>
    </div>
    <div class="col-md-4">
      <div class="well">7</div>
    </div>
    <div class="col-md-4">
      <div class="well">8</div>
    </div>
  </div>

</body>
<script src="../static/js/bootstrap.bundle.min.js"></script>

</html>